@page "{PrimaryCategory:category}"
@model NailsModel
@{
    ViewData["Title"] = Model.PrimaryCategory;
}
<link href="~/css/pagebody.css" rel="stylesheet" />
<div class="Page-Body" id="shopping-items">

    <h1 class="section-title nail-title">@Model.PrimaryCategory</h1>


    <ul class="Nails-Container">
    @foreach (var item in Model.Matching)
    {

        <li>
            <a href="/nailpage/@item.Name">
                <div class="Product-Card">
                    <img class="Product-Photo" src="@item.Photos[0]" />
                    <p class="title">@item.Name</p>
                    <p class="price">$@item.Price</p>
                </div>
            </a>

        </li>

    }
    </ul>

    <div class="dotted-bottom"></div>

    <h1 class="section-title nail-title">All Nails</h1>

    <ul class="Nails-Container">
    @foreach (var item in Model.Products)
    {

        <li>
            <a href="/nailpage/@item.Name">
                <div class="Product-Card">
                    <img class="Product-Photo" src="@item.Photos[0]" />
                    <p class="title">@item.Name</p>
                    <p class="price">$@item.Price</p>
                </div>
            </a>

        </li>

    }
    </ul>

</div>
